.container{
    @apply md:mx-auto;
}
.my-navbar{
    @apply mb-2 shadow-lg bg-nav text-neutral-content;
}
.bg-nav{
    @apply bg-gradient-to-b from-black to-gray-800 dark:from-black dark:to-gray-800;
}
.my-btn-bg{
    @apply border-indigo-50 bg-gradient-to-b from-primary to-blue-500 transition-all hover:from-primary hover:to-primary-focus;
}

.logo-start{
    @apply text-2xl font-bold text-green-500 dark:text-primary;
}
.logo-end{
    @apply text-2xl font-bold text-white;
}
.avatar-circle{
    @apply rounded-full ring ring-green-500 dark:ring-primary ring-offset-base-100 ring-offset-2 w-8 h-8 bg-white;
}
.navbar-menu{
    @apply flex-none hidden px-2 mx-2 lg:flex;
}
.navbar-row{
    @apply flex items-stretch;
}
.navbar-item{
    @apply btn btn-ghost btn-sm;
}
.my-dropdown{
    @apply flex-none lg:hidden relative;
}
.dropdown-btn{
    @apply btn btn-square btn-ghost;
}
.dropdown-content{
    @apply absolute right-0 top-14 w-96 flex-col;
}
.dropdown-item{
    @apply p-2 text-black shadow menu bg-base-100 w-full dark:text-gray-300;
}
.banner{
    @apply flex flex-col-reverse lg:flex-row;
}
.banner-content{
    @apply lg:mt-16 p-5 bg-white dark:bg-black dark:text-white bg-opacity-50;
}
.banner-caption{
    @apply bg-white dark:bg-black text-black dark:text-white p-4 px-5 my-2 bordered shadow-lg drop-shadow;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.button{
   @apply btn btn-primary dark:bg-gray-900 dark:border-black;
}
